/* ESTILO BASE */
body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,;
}

.caixa {
    display: grid;
    grid-template-columns: (2,1fr);
    background-color: #ffffff;
    width: 20vw;
    height: 70vh;
    /* padding: 16px; */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.logo img {

    width: 20vw;
    border-radius: 10px;
}

h1 {
    font-size: 1.2rem;
    /* margin: 20px 0 10px; */
    color: #1f3251;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
}

p {
    font-size: 0.95rem;
    color: #7b879d;
    /* padding: 0 10px 10px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
}

@media (min-width: 100px) and (max-width: 200px) { 
    .caixa {
        width: 55%;
        height: 18%;
    }
    .logo img{
        width: 80%;
        height: 35%;
        align-items: center;
        margin-top: 10%;
    }
    h1 {
        font-size: 0.5em;
    }

    p {
        font-size: 0.4em;
    }
}

@media (min-width: 200px) and (max-width: 300px) {
    .caixa {
        width: 70%;
        height: 30%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 0.8em;
    }
    p {
        font-size: 0.5em;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .caixa {
        width: 60%;
        height: 40%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1em;
    }
    p {
        font-size: 0.7em;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .caixa {
        width: 55%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .caixa {
        width: 45%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .caixa {
        width: 35%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .caixa {
        width: 30%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .caixa {
        width: 20%;
        height: 35%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 0.9em;
    }
    p {
        font-size: 0.7em;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .caixa {
        width: 20%;
        height: 35%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 0.9em;
    }
    p {
        font-size: 0.7em;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .caixa {
        width: 20%;
        height: 40%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.1em;
    }
    p {
        font-size: 0.8em;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .caixa {
        width: 20%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .caixa {
        width: 20%;
        height: 45%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.3em;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .caixa {
        width: 20%;
        height: 55%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.4em;
    }
    p {
        font-size: 1em;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .caixa {
        width: 20%;
        height: 55%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .caixa {
        width: 20%;
        height: 60%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .caixa {
        width: 20%;
        height: 60%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.7em;
    }
    p {
        font-size: 1.2em;
    }
}

@media (min-width: 1700px) and (max-width: 1800px) {
    .caixa {
        width: 20%;
        height: 60%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 1.7em;
    }
    p {
        font-size: 1.2em;
    }
}

@media (min-width: 1800px) and (max-width: 1900px) {
    .caixa {
        width: 20%;
        height: 60%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.3em;
    }
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .caixa {
        width: 20%;
        height: 60%;
    }
    .logo img {
        width: 78%;
        height: 45%;
        align-items: center;
        margin-top: 5%;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.3em;
    }
}
